    
.contact-form{

    .text-box{
        width: 50%;
        height: 700px;
        background-color: red;
    }
    .form-box{
        width: 50%;
        height: 700px;
        background-color: green;

    }
}