.dev-list {
  background-color: #d9ed92;
  margin: 5rem 0 0 0;

  h2 {
    text-align: center;
    font-family: $dm-serif;
    padding: 4rem 0;
    // margin: 0 0 3rem;
    // border-bottom: 2px solid $blue-green;
  }

  .water-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-family: $dm-serif;
      letter-spacing: 1px;
    }

    p {
      font-family: $montserrat;
    }

    .devs {
      text-align: center;
      margin-bottom: 50px;
    }

    .dev-img {
      height: 200px;
      width: 200px;
      border-radius: 100px;
    }
  }
}

@media screen and (min-width: 768px) {
  .dev-list {
    // background-color: #D9ED92;
    padding: 0 6%;

    h2 {
      text-align: left;
      font-size: 2.25em;
      font-family: $dm-serif;
      
    }

    .water-team {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      h3 {
        font-family: $dm-serif;
      }

      p {
        font-family: $montserrat;
      }

      .devs {
        text-align: center;
        margin-bottom: 50px;
      }

      .dev-img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
      }
    }
  }
}
