.info-section {
  width: 100%;
  padding: 0 6%;
  gap: 50px;
  font-family: $montserrat;

  .intro {
    text-align: center;
    margin: 0 5%;

    .title {
      font-family: $dm-serif;
      border-bottom: 2px solid $blue-green;
      margin: 5rem 0 0 0;
    }

    .info-container {
        

        .info-image {
          width: 100%;
          // max-width: 500px;
          border-radius: 20px;
          margin: 1.5rem 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        }

        .content {
          margin: 2em 0;
          font-size: 1.25em;
          ul {
            margin: 0;
            padding: 0;
            text-align:justify;
            
          }
          ul li {
            margin: 0 0 0 1.5rem;
            ul li {
              margin: 0 0 0 1.5rem;
            }
          }
        }

        .right {
          figcaption {
            text-align: center;
            font-size: 0.75em;
          }
        }

        .left {
          figcaption {
            text-align: center;
            font-size: 0.75em;
          }
        }
        
    }
  }
}

.information {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-image: linear-gradient(to bottom, #184e77, #036287, #007794, #128b9d, #339fa3);

  .gallery-info {
    display: grid;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 40px;
    padding: 3em 0;

    .info-cards {
      width: 300px;
      height: 300px;
      padding: 30px 0;
      // background-color: rgba(255, 255, 255, 0.3);
      // backdrop-filter: blur(14px);
      text-align: center;
      font-family: $dm-serif;
      border-radius: 15px;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
              // rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

      .icon {
        display: flex;
        width: 6.5em;
        height: 6.5em;
        padding: 0.5em;
        margin: 0 auto;
        background-color: $dark-blue;
        border-radius: 100%;
        border: 1px solid $dark-blue;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        img {
          object-fit: cover;
          border-radius: 100%;
        }
      }

      .site-name {
        margin: 20px 0;
        color: $white;
        font-weight: 200;
        font-size: 1.25em;
        letter-spacing: 1px;
        text-shadow: 2px 1px $dark-blue;
      }

      p {
        margin-top: -20px !important;
        color: $white;
        font-size: 0.75em;
      }

      .learn-more {
        cursor: pointer;
        width: fit-content;
      //   display: inline-block;
        // background: $dark-blue;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 0.6em;
        color: $dark-blue;
        border: none;
        border-radius:15px;
        font-family: $dm-serif;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(14px);
        &:hover {
          background-color: $white;
          color: $dark-blue;
          font-weight: 800;
          transition: all 0.5s;
        }

    }

    a {
        text-decoration: none;
    }
      
    }
  }
}

@media screen and (min-width: 768px) {
  .info-section {
    
    .intro {
        text-align: left;
        margin: 0 auto;
        padding: 0 0 3rem 0;
    }

    .title {
        text-align: left;
        font-size: 2.25em;
        margin: 30px 0 40px;
    }

    .info-container {


      .info-image {
        width: 500px !important;
        margin: 0 !important;
      }

      .right {
        float:right;
        margin: 0 0 1.5rem 1.5rem !important;
      }

      .left {
        float: left;
        margin: 0 1.5rem 1.5rem 0 !important;
        padding: 0 1.5rem 1.5rem 0;
      }


      .item-right{
        order: -1;
        
      }
    }

    .content {
      font-size: 1.55em !important;
      ul li {
        margin: 0 0 0 1.5rem;
        ul li {
          margin: 0 0 0 1.5rem;
        }
      }
    }

  }

  .information {
    .gallery-info {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  
}

