.info-section {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    padding: 0 5%;
    .intro {
        text-align: center;
        margin: 0;
        .title {
            font-family: $dm-serif;
        }
        .content {
            font-family: $montserrat;
        }
    }
}