.info-section {
  width: 100%;
  padding: 0 6%;
  gap: 50px;
  font-family: $montserrat;

  .intro {
    text-align: center;
    margin: 0 5%;

    .title {
      font-family: $dm-serif;
      border-bottom: 2px solid $blue-green;
    }

    .info-container {
        

        .info-image {
          width: 100%;
          max-width: 500px;
          border-radius: 20px;
          // margin: 20px 0 !important;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
              rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        
    }
  }
}

@media screen and (min-width: 768px) {
  .info-section {
    
    .intro {
        text-align: left;
        margin: 0 auto;
        padding: 0 0 3rem 0;
    }

    .title {
        text-align: left;
        font-size: 2.25em;
    }

    .info-container {

      .info-image {
        width: 500px;
      }

      .right {
        float:right;
        margin: 0 0 0 1.5rem;
      }

      .left {
        float: left;
        margin: 0 1.5rem 0 0;
      }

      .item-right{
        order: -1;
      }
    }

    .content {
      font-size: 1.15em;
    }

  }
}
