.mission-statement {
    width: 100%;
    padding: 0 6%;
    margin: 3rem 0;
    text-align: center;
    .infoBox {
        h2 {
            font-family: $dm-serif;
        }

        p {
            font-family: $montserrat;
        }
    }
}

@media screen and (min-width: 768px){
    .mission-statement {
        text-align: left;
        .infoBox {
            h2 {
                font-size: 2.25em;
            }

            p {
                font-size: 1.15em;
            }
        }
    }
}